.o-regionSliderNavigation {
    margin: 0 auto;
    max-height: 72.2222222222vw;
    max-width: 100vw;
    position: absolute;
    width: 100%;
    z-index: 1
}

.o-regionSliderNavigation:before {
    content: "";
    display: block;
    padding-top: 100%
}

.o-regionSliderNavigation__container {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%
}

.o-regionSliderNavigation__map {
    position: relative
}

.o-regionSliderNavigation__map:before {
    content: "";
    display: block;
    padding-top: 100%
}

.o-regionSliderNavigation .a-image,
.o-regionSliderNavigation .a-image__background,
.o-regionSliderNavigation .a-image__picture {
    top: -10%
}

.o-regionSliderNavigation__pagination {
    bottom: 45%;
    left: 0;
    position: absolute;
    -webkit-transform: skewY(359deg);
    -ms-transform: skewY(359deg);
    transform: skewY(359deg);
    width: 100%
}

.o-regionSliderNavigation__paginationItems {
    list-style: none;
    margin: 0;
    padding: 0
}

.o-regionSliderNavigation__paginationItem {
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1
}

.o-regionSliderNavigation__paginationItem .a-stepIndicator__label {
    pointer-events: none
}

.o-regionSliderNavigation__paginationItem:first-child {
    left: 15%
}

.o-regionSliderNavigation__paginationItem:first-child .a-stepIndicator__index {
    -webkit-animation-delay: 1s;
    animation-delay: 1s
}

.o-regionSliderNavigation__paginationItem:nth-child(2) {
    left: 32%
}

.o-regionSliderNavigation__paginationItem:nth-child(2) .a-stepIndicator__index {
    -webkit-animation-delay: 2s;
    animation-delay: 2s
}

.o-regionSliderNavigation__paginationItem:nth-child(3) {
    left: 52%
}

.o-regionSliderNavigation__paginationItem:nth-child(3) .a-stepIndicator__index {
    -webkit-animation-delay: 3s;
    animation-delay: 3s
}

.o-regionSliderNavigation__paginationItem:nth-child(4) {
    left: 73%
}

.o-regionSliderNavigation__paginationItem:nth-child(4) .a-stepIndicator__index {
    -webkit-animation-delay: 4s;
    animation-delay: 4s
}

.o-regionSliderNavigation__paginationItem .a-stepIndicator:not(.-isActive) .a-stepIndicator__index {
    -webkit-animation: pulse 4s infinite;
    animation: pulse 4s infinite
}

.o-regionSliderNavigation__paginationLine {
    border: 2px solid var(--color-gold);
    bottom: -2px;
    left: 8.8%;
    position: absolute;
    right: 8.8%
}

.o-regionSliderNavigation__regions {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.o-regionSliderNavigation__region {
    bottom: 0;
    height: auto;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: opacity .7s ease-out;
    -o-transition: opacity .7s ease-out;
    transition: opacity .7s ease-out
}

.o-regionSliderNavigation__region.-isActive {
    opacity: 1
}

.o-regionSliderNavigation__region .a-image .a-image__img:not([src]),
.o-regionSliderNavigation__region .a-image .a-image__img[src=""] {
    display: none
}

@media(min-width:1024px)and (orientation:landscape) {
    .o-regionSliderNavigation {
        left: 0;
        max-height: 100%;
        max-width: min(50vw, 75vh);
        top: 0
    }

    .o-regionSliderNavigation__pagination {
        bottom: 40%
    }

    .o-regionSliderNavigation .a-image,
    .o-regionSliderNavigation .a-image__background,
    .o-regionSliderNavigation .a-image__picture {
        top: 0
    }
}