@charset "UTF-8";


@media print {
  img {
    max-width: 100% !important;
  }
  .col-print-1 {
    width: 8%;
    float: left;
  }
  .col-print-2 {
    width: 16%;
    float: left;
  }
  .col-print-3 {
    width: 25%;
    float: left;
  }
  .col-print-4 {
    width: 33%;
    float: left;
  }
  .col-print-5 {
    width: 42%;
    float: left;
  }
  .col-print-6 {
    width: 50%;
    float: left;
  }
  .col-print-7 {
    width: 58%;
    float: left;
  }
  .col-print-8 {
    width: 66%;
    float: left;
  }
  .col-print-9 {
    width: 75%;
    float: left;
  }
  .col-print-10 {
    width: 83%;
    float: left;
  }
  .col-print-11 {
    width: 92%;
    float: left;
  }
  .col-print-12 {
    width: 100%;
    float: left;
  }
  * {
    -webkit-print-color-adjust: exact;
  }
  *,
  *:before,
  *:after {
    color: inherit !important;
  }
  a,
  .arrow-link.arrow-color {
    color: #0066b2 !important;
  }
  .arrow-link .glyphicon {
    color: inherit !important;
  }
  a.arrow-link.theme-bg-color {
    color: #ffffff !important;
  }
  a.arrow-link-inline {
    color: #0066b2 !important;
  }
  body {
    width: 100%;
    margin: 0;
    float: none;
    padding-bottom: 0;
  }
  body.has-social-container {
    padding-bottom: 0px !important;
  }
  .clearfix:before,
  .container:before,
  .container-fluid:before,
  .row:before,
  .panel-body:before,
  .btn-toolbar:before,
  .btn-group:before,
  .nav:before,
  .navbar:before,
  .navbar-collapse:before,
  .btn-group-vertical > .btn-group:before {
    content: "" !important;
    display: none !important;
    visibility: collapse !important;
  }
  a[href]:after {
    content: none !important;
  }
  .Skin button.btn.focus-link {
    display: inline-block !important;
  }
  :after,
  :before,
  .image,
  .images,
  .img-fluid,
  div.map,
  div.did-you-know .embed-responsive,
  div.focus-link,
  .text-box-container,
  .carousel-common .carousel-inner .item,
  .carousel-common .col,
  .carousel-a .text-col,
  .carousel-social .carousel-inner .social-tile,
  .slick-track .item,
  .footer .row.main,
  .promo .background-half,
  .promo-tiles .promo .img-fluid.centered,
  .resources-container,
  .footer.bg-offwhite {
    page-break-inside: avoid;
  }
  #scCrossPiece,
  #scPageExtendersForm {
    display: none;
  }
  .focus-link.layout-b {
    position: relative !important;
    display: block !important;
    float: none !important;
    clear: none !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }
  .focus-link {
    width: auto !important;
  }
  .focus-link a {
    color: inherit !important;
    margin: auto !important;
    width: auto !important;
    max-width: 350px !important;
  }
  .focus-link .arrow-link span.glyphicon {
    top: 0px !important;
    display: inline-block !important;
  }
  .primary-link,
  .primary-link * {
    color: #fff !important;
  }
  .iframe-parent .iframe {
    overflow: visible;
    min-width: 100%;
    page-break-inside: avoid;
  }
  .back-to-top {
    visibility: hidden;
  }
  .slider.slider-nav {
    display: none !important;
  }
  .slick-track {
    width: auto !important;
    transform: translate3d(0, 0, 0) !important;
  }
  .slick-track .item {
    margin-bottom: 10px !important;
    float: none !important;
  }
  .num-container,
  span.slide-count {
    display: none !important;
  }
  @page {
    size: portrait;
  }
  .section-bg-color.bg-offwhite,
  .section-bg-color.bg-white {
    background-color: transparent !important;
  }
}
.layout-rtl .glyphicon-chevron-bold-right:before {
  content: "\e901";
}
.layout-rtl .glyphicon-chevron-caret-right:before {
  content: "\e90e";
}
.layout-rtl .pagination .glyphicon-chevron-right::before {
  content: "\e602";
  font-size: 1em;
  top: 0.08em;
}
.layout-rtl .pagination .glyphicon-chevron-left::before {
  content: "\e602";
  font-size: 1em;
  top: 0.08em;
}
.layout-rtl .pagination .glyphicon-chevron-left {
  transform: rotate(180deg);
}
.layout-rtl .focus-link .glyphicon,
.layout-rtl .span-arrow-link .glyphicon,
.layout-rtl .arrow-link-inline:after,
.layout-rtl .arrow-link-inline span.glyphicon {
  padding-left: 0px;
  padding-right: 0.55em;
}
.layout-rtl .secondary-link .glyphicon-media-link {
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.layout-rtl .secondary-link:hover .glyphicon-media-link,
.layout-rtl .secondary-link:focus .glyphicon-media-link {
  transform: translateX(-2px) rotate(-180deg);
}
.layout-rtl.secondary-link .underline,
.layout-rtl .resource-link .underline,
.layout-rtl a .underline {
  background-position: bottom right;
}
.layout-rtl .secondary-link:hover .glyphicon.glyphicon-chevron-caret-right,
.layout-rtl .secondary-link:focus .glyphicon.glyphicon-chevron-caret-right {
  transform: translateX(-2px);
}
.layout-rtl .multi-col .col h4 {
  text-align: right;
}
.layout-rtl .multi-col .arrow-link span.glyphicon {
  padding-left: 0px;
  padding-right: 0.55em;
}
@media (min-width: 768px) {
  .layout-rtl .multi-col .col {
    float: right;
  }
}
.layout-rtl .back-to-top > div.top-container {
  right: auto;
  left: 15px;
}
.in-page-anchor {
  visibility: hidden !important;
}
.slide-scroll-container.cursor-grabbing,
.slide-scroll-container.cursor-grabbing * {
  cursor: grabbing;
}
@media only screen and (max-width: 767px) {
  .slide-scroll-container {
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    display: block;
    padding-bottom: 0;
  }
}
.disable-slider ~ .slide-control,
.slide-control:not(.show-slider) {
  display: none !important;
}
.slide-control {
  width: 100%;
  padding: 0 40px;
  margin-bottom: 40px;
}
.slide-control .slide-container {
  width: 100%;
}
.slide-control .slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 3px;
  background: #adadad;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
.slide-control .slider:hover,
.slide-control .slider:focus {
  opacity: 1;
}
.slide-control .slider:focus:not(:focus-visible) {
  outline: none;
}
.slide-control .slider:focus {
  outline: 1px dotted;
  outline-offset: 2px;
}
.slide-control .slider::-webkit-slider-thumb,
.slide-control .slider::-webkit-media-slider-thumb {
  -webkit-appearance: none !important;
  appearance: none !important;
  width: 25%;
  height: 33px;
  background: linear-gradient(
    rgba(255, 0, 0, 0) 15px,
    #009dd9 15px,
    #009dd9 18px,
    rgba(255, 0, 0, 0) 18px
  );
  cursor: pointer;
  border: none;
  box-shadow: none;
}
.slide-control .slider::-moz-range-thumb {
  width: 25%;
  height: 33px;
  background: linear-gradient(
    rgba(255, 0, 0, 0) 15px,
    #009dd9 15px,
    #009dd9 18px,
    rgba(255, 0, 0, 0) 18px
  );
  cursor: pointer;
  border: none;
  box-shadow: none;
}
.disable-scrollbars::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.disable-scrollbars {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
@media (min-width: 992px) {
  .resource-link .media-icon {
    display: inline-flex !important;
  }
}
.x01 .slider .slick-list .item .row {
  padding: 0;
}
:root {
  --font-gotham-book: "GothamBook", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  --font-gotham-bold: "GothamBold", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  --font-gotham-black: "GothamBlack", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  --font-gotham-narrow-book: "GothamNarrowBook", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  --font-gotham-narrow-bold: "GothamNarrowBold", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  --color-opacity: 1;
  --color-black: #000000;
  --color-light-blue: #009dd9;
  --color-medium-blue: #f1a500;
  --color-dark-blue: #0b2d71;
  --color-light-gray: #dbdcdd;
  --color-medium-gray: #8c8f93;
  --color-dark-gray: #6b6d6f;
  --color-light-green: #b2cc34;
  --color-medium-green: #769231;
  --color-dark-green: #444b0d;
  --color-light-orange: #faab18;
  --color-medium-orange: #e5601f;
  --color-dark-orange: #711b00;
  --color-light-purple: #ba3093;
  --color-medium-purple: #751269;
  --color-dark-purple: #3a0d36;
  --color-light-red: #e21836;
  --color-medium-red: #97002e;
  --color-dark-red: #58001c;
  --color-light-teal: #00b2bd;
  --color-medium-teal: #00708c;
  --color-dark-teal: #003653;
  --color-white: #ffffff;
  --color-offwhite: #f4f4f4;
  --color-black-rgb: 0, 0, 0;
  --color-light-blue-rgb: 0, 157, 217;
  --color-medium-blue-rgb: 0, 102, 178;
  --color-dark-blue-rgb: 11, 45, 113;
  --color-light-gray-rgb: 219, 220, 221;
  --color-medium-gray-rgb: 140, 143, 147;
  --color-dark-gray-rgb: 107, 109, 111;
  --color-light-green-rgb: 178, 204, 52;
  --color-medium-green-rgb: 118, 146, 49;
  --color-dark-green-rgb: 68, 75, 13;
  --color-light-orange-rgb: 250, 171, 24;
  --color-medium-orange-rgb: 229, 96, 31;
  --color-dark-orange-rgb: 113, 27, 0;
  --color-light-purple-rgb: 186, 48, 147;
  --color-medium-purple-rgb: 117, 18, 105;
  --color-dark-purple-rgb: 58, 13, 54;
  --color-light-red-rgb: 226, 24, 54;
  --color-medium-red-rgb: 151, 0, 46;
  --color-dark-red-rgb: 88, 0, 28;
  --color-light-teal-rgb: 0, 178, 189;
  --color-medium-teal-rgb: 0, 112, 140;
  --color-dark-teal-rgb: 0, 54, 83;
  --color-white-rgb: 255, 255, 255;
  --color-offwhite-rgb: 244, 244, 244;
  --color-black-half-opacity: rgba(0, 0, 0, 0.5);
  --color-white-half-opacity: rgba(255, 255, 255, 0.5);
  --background-gradient-height: 184px;
  --button-color: var(--color-medium-blue-rgb);
  --button-text-color: var(--color-black-rgb);
  --button-text-hover-color: var(--color-white-rgb);
  --button-color-opacity: 1;
  --color-theme-child: var(--color-black-rgb);
  --bs-body-font-family: var(--font-gotham-narrow-book);
  --bs-body-font-size: 1.8rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 2.6rem;
  --bs-body-color: var(--color-black);
}
html {
  font-size: 10px;
}
body {
  padding: 0;
  font-style: normal;
  background: none;
}
.r ul li {
  list-style-type: disc;
}
.r .list-unstyled li {
  list-style-type: none;
}
.r :not(.type-display, .type-header, .type-subhead) > strong,
.r :not(.type-display, .type-header, .type-subhead) > b {
  font-weight: normal;
  font-family: var(--font-gotham-bold);
}
.r .type-subhead > strong,
.r .type-subhead > b {
  font-weight: normal;
  font-family: var(--font-gotham-narrow-bold);
}
.r .r a {
  text-decoration: none;
  color: inherit;
}
.r a:hover,
.r a:focus,
.r a:active {
  text-decoration: none;
}
.r a:focus {
  outline: 1px dotted;
  outline-offset: 2px;
}
.r a:focus:not(:focus-visible) {
  outline: none;
}
.r p {
  margin-top: 0;
  margin-bottom: 1.4rem;
}
.r h1,
.r h2,
.r h3,
.r h4,
.r h5,
.r h6 {
  margin-top: 0;
  margin-bottom: 2.4rem;
}
.type-display,
.type-header {
  font-family: var(--font-gotham-black);
  font-weight: 400;
  font-size: 2.6rem;
  line-height: 3rem;
  letter-spacing: -0.005em;
}
.type-subhead {
  font-weight: 400;
  font-family: var(--font-gotham-narrow-book);
}
.type-navigation {
  font-family: var(--font-gotham-book);
}
.type-cta,
.type-eyebrow {
  font-family: var(--font-gotham-bold);
}
.text-super .type-display,
.text-super.type-display {
  font-size: 9.8rem;
  line-height: 9.8rem;
  letter-spacing: -0.025em;
}
.text-elevated .type-display,
.text-elevated.type-display {
  font-size: 6.4rem;
  line-height: 6.8rem;
  letter-spacing: -0.013em;
}
.text-base .type-display,
.text-base.type-display {
  font-size: 5.4rem;
  line-height: 5.8rem;
  letter-spacing: -0.013em;
}
.text-reduced .type-display,
.text-reduced.type-display {
  font-size: 4.2rem;
  line-height: 5.6rem;
  letter-spacing: -0.01em;
}
.text-elevated .type-header,
.text-elevated.type-header {
  font-size: 3.6rem;
  line-height: 4rem;
  letter-spacing: -0.008em;
}
.text-base .type-header,
.text-base.type-header {
  font-size: 3.2rem;
  line-height: 3.6rem;
  letter-spacing: -0.006em;
}
.text-reduced .type-header,
.text-reduced.type-header {
  font-size: 2.4rem;
  line-height: 2.8rem;
  letter-spacing: -0.005em;
}
.text-super .type-subhead,
.text-super.type-subhead {
  font-size: 3.6rem;
  line-height: 4.2rem;
  letter-spacing: -0.006em;
}
.text-elevated .type-subhead,
.text-elevated.type-subhead {
  font-size: 2.8rem;
  line-height: 3.2rem;
}
.text-base .type-subhead,
.text-base.type-subhead {
  font-size: 2.4rem;
  line-height: 2.8rem;
}
.text-reduced .type-subhead,
.text-reduced.type-subhead {
  font-size: 2rem;
  line-height: 2.4rem;
}
.text-elevated .type-navigation,
.text-elevated.type-navigation {
  font-size: 2.8rem;
  line-height: 3.5rem;
  letter-spacing: -0.005em;
}
.text-base .type-navigation,
.text-base.type-navigation {
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.text-reduced .type-navigation,
.text-reduced.type-navigation {
  font-size: 1.2rem;
  line-height: 1.6rem;
}
.text-elevated .type-body,
.text-elevated.type-body {
  font-size: 2rem;
  line-height: 2.8rem;
  letter-spacing: 0.006em;
}
.text-base .type-body,
.text-base.type-body {
  font-size: 1.8rem;
  line-height: 2.6rem;
  letter-spacing: 0.008em;
}
.text-reduced .type-body,
.text-reduced.type-body {
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.01em;
}
.text-caption .type-body,
.text-caption.type-body {
  font-size: 1.4rem;
  line-height: 1.8rem;
  letter-spacing: 0.014em;
}
.r .type-eyebrow {
  display: block;
  margin-bottom: 16px;
  letter-spacing: normal;
}
.text-super .type-eyebrow,
.text-super.type-eyebrow {
  font-size: 2.4rem;
  line-height: 2.8rem;
}
.text-elevated .type-eyebrow,
.text-elevated.type-eyebrow {
  font-size: 2rem;
  line-height: 2.4rem;
}
.text-base .type-eyebrow,
.text-base.type-eyebrow {
  font-size: 1.8rem;
  line-height: 2.4rem;
}
.text-reduced .type-eyebrow,
.text-reduced.type-eyebrow {
  font-size: 1.6rem;
  line-height: 2rem;
}
.text-elevated .type-cta,
.text-elevated.type-cta {
  font-size: 1.8rem;
  line-height: 2.6rem;
}
.text-base .type-cta,
.text-base.type-cta {
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.text-reduced .type-cta,
.text-reduced.type-cta {
  font-size: 1.4rem;
  line-height: 2.2rem;
}
.text-caption .type-cta,
.text-caption.type-cta {
  font-size: 1.2rem;
  line-height: 1.6rem;
}
p.text-elevated.type-body,
.text-elevated p {
  margin-bottom: 1.6rem;
}
p.text-reduced,
.text-reduced p {
  margin-bottom: 1.2rem;
}
p.text-caption,
.text-caption p {
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .type-display,
  .type-header {
    font-size: 3.2rem;
    line-height: 3.6rem;
    letter-spacing: -0.006em;
  }
  .text-super .type-display,
  .text-super.type-display {
    font-size: 16rem;
    line-height: 16rem;
    letter-spacing: -0.033em;
  }
  .text-elevated .type-display,
  .text-elevated.type-display {
    font-size: 9.6rem;
    line-height: 10rem;
    letter-spacing: -0.02em;
  }
  .text-base .type-display,
  .text-base.type-display {
    font-size: 8rem;
    line-height: 8.4rem;
    letter-spacing: -0.017em;
  }
  .text-reduced .type-display,
  .text-reduced.type-display {
    font-size: 6.4rem;
    line-height: 6.8rem;
    letter-spacing: -0.013em;
  }
  .text-elevated .type-header,
  .text-elevated.type-header {
    font-size: 4.8rem;
    line-height: 5.2rem;
    letter-spacing: -0.01em;
  }
  .text-base .type-header,
  .text-base.type-header {
    font-size: 4rem;
    line-height: 4.4rem;
    letter-spacing: -0.008em;
  }
  .text-reduced .type-header,
  .text-reduced.type-header {
    font-size: 3.2rem;
    line-height: 3.6rem;
    letter-spacing: -0.006em;
  }
  .text-super .type-subhead,
  .text-super.type-subhead {
    font-size: 4.8rem;
    line-height: 5.2rem;
    letter-spacing: -0.008em;
  }
  .text-elevated .type-subhead,
  .text-elevated.type-subhead {
    font-size: 3.2rem;
    line-height: 3.6rem;
  }
  .text-base .type-subhead,
  .text-base.type-subhead {
    font-size: 2.8rem;
    line-height: 3.2rem;
  }
  .text-reduced .type-subhead,
  .text-reduced.type-subhead {
    font-size: 2.4rem;
    line-height: 2.8rem;
  }
  .text-elevated .type-navigation,
  .text-elevated.type-navigation {
    font-size: 3.2rem;
    line-height: 4rem;
    letter-spacing: -0.006em;
  }
}
@media screen and (min-width: 992px) {
  .type-display,
  .type-header {
    font-size: 3.2rem;
    line-height: 3.6rem;
    letter-spacing: -0.006em;
  }
  .text-super .type-display,
  .text-super.type-display {
    font-size: 18rem;
    line-height: 18rem;
    letter-spacing: -0.0375em;
  }
  .text-elevated .type-display,
  .text-elevated.type-display {
    font-size: 14rem;
    line-height: 14rem;
    letter-spacing: -0.03em;
  }
  .text-base .type-display,
  .text-base.type-display {
    font-size: 9.6rem;
    line-height: 10rem;
    letter-spacing: -0.02em;
  }
  .text-reduced .type-display,
  .text-reduced.type-display {
    font-size: 8rem;
    line-height: 8.4rem;
    letter-spacing: -0.016em;
  }
  .text-elevated .type-header,
  .text-elevated.type-header {
    font-size: 6.4rem;
    line-height: 6.8rem;
    letter-spacing: -0.013em;
  }
  .text-base .type-header,
  .text-base.type-header {
    font-size: 4.8rem;
    line-height: 5.2rem;
    letter-spacing: -0.01em;
  }
  .text-reduced .type-header,
  .text-reduced.type-header {
    font-size: 3.2rem;
    line-height: 3.6rem;
    letter-spacing: -0.006em;
  }
  .text-super .type-subhead,
  .text-super.type-subhead {
    font-size: 6.4rem;
    line-height: 6.8rem;
    letter-spacing: -0.01em;
  }
  .text-elevated .type-subhead,
  .text-elevated.type-subhead {
    font-size: 4rem;
    line-height: 4.4rem;
  }
  .text-base .type-subhead,
  .text-base.type-subhead {
    font-size: 3.2rem;
    line-height: 3.6rem;
  }
  .text-reduced .type-subhead,
  .text-reduced.type-subhead {
    font-size: 2.8rem;
    line-height: 3.2rem;
  }
  .text-elevated .type-navigation,
  .text-elevated.type-navigation {
    font-size: 4rem;
    line-height: 5rem;
    letter-spacing: -0.008em;
  }
  .text-reduced .type-navigation,
  .text-reduced.type-navigation {
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
  .text-elevated .type-body,
  .text-elevated.type-body {
    font-size: 2.4rem;
    line-height: 3rem;
    letter-spacing: 0.006em;
  }
  .text-base .type-body,
  .text-base.type-body {
    font-size: 2rem;
    line-height: 2.6rem;
    letter-spacing: 0.008em;
  }
  .text-reduced .type-body,
  .text-reduced.type-body {
    font-size: 1.8rem;
    line-height: 2.6rem;
    letter-spacing: 0.008em;
  }
  .text-caption .type-body,
  .text-caption.type-body {
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: 0.01em;
  }
  .r .type-eyebrow {
    margin-bottom: 24px;
  }
  .text-super .type-eyebrow,
  .text-super.type-eyebrow {
    font-size: 2.8rem;
    line-height: 3.2rem;
  }
  .text-elevated .type-eyebrow,
  .text-elevated.type-eyebrow {
    font-size: 2.2rem;
    line-height: 2.6rem;
  }
  .text-base .type-eyebrow,
  .text-base.type-eyebrow {
    font-size: 2rem;
    line-height: 2.4rem;
  }
  .text-reduced .type-eyebrow,
  .text-reduced.type-eyebrow {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }
}
.font-gotham-book {
  font-family: var(--font-gotham-book);
}
.font-gotham-bold {
  font-family: var(--font-gotham-bold);
}
.font-gotham-black {
  font-family: var(--font-gotham-black);
}
.font-gotham-narrow-book {
  font-family: var(--font-gotham-narrow-book);
}
.font-gotham-narrow-bold {
  font-family: var(--font-gotham-narrow-bold);
}
.color-opacity-10 {
  --color-opacity: 0.1;
}
.color-opacity-20 {
  --color-opacity: 0.2;
}
.color-opacity-30 {
  --color-opacity: 0.3;
}
.color-opacity-40 {
  --color-opacity: 0.4;
}
.color-opacity-50 {
  --color-opacity: 0.5;
}
.color-opacity-60 {
  --color-opacity: 0.6;
}
.color-opacity-70 {
  --color-opacity: 0.7;
}
.color-opacity-80 {
  --color-opacity: 0.8;
}
.color-opacity-90 {
  --color-opacity: 0.9;
}
[class*="background-color-"] .color-theme-child,
[class*="background-color-"] [class*="background-color-"] .color-theme-child {
  color: rgb(var(--color-theme-child));
}
.color-light-blue {
  color: var(--color-light-blue);
}
.color-light-blue.color-important {
  color: var(--color-light-blue) !important;
}
.background-color-light-blue {
  background-color: rgba(var(--color-light-blue-rgb), var(--color-opacity));
}
.color-medium-blue {
  color: var(--color-medium-blue);
}
.color-medium-blue.color-important {
  color: var(--color-medium-blue) !important;
}
.background-color-medium-blue {
  background-color: rgba(var(--color-medium-blue-rgb), var(--color-opacity));
}
.color-dark-blue {
  color: var(--color-dark-blue);
}
.color-dark-blue.color-important {
  color: var(--color-dark-blue) !important;
}
.background-color-dark-blue {
  background-color: rgba(var(--color-dark-blue-rgb), var(--color-opacity));
}
.background-color-dark-blue .cta-button,
[class*="background-color-"] .background-color-dark-blue .cta-button,
.background-color-medium-blue .cta-button,
[class*="background-color-"] .background-color-medium-blue .cta-button {
  --button-color: var(--color-light-blue-rgb);
}
.background-color-light-blue .cta-button,
[class*="background-color-"] .background-color-light-blue .cta-button {
  --button-color: var(--color-dark-blue-rgb);
}
.button-color-light-blue.cta-button,
[class*="background-color-"] .button-color-light-blue.cta-button {
  --button-color: var(--color-light-blue-rgb);
}
.button-color-medium-blue.cta-button,
[class*="background-color-"] .button-color-medium-blue.cta-button {
  --button-color: var(--color-medium-blue-rgb);
}
.button-color-dark-blue.cta-button,
[class*="background-color-"] .button-color-dark-blue.cta-button {
  --button-color: var(--color-dark-blue-rgb);
}
.background-color-dark-blue .color-theme-child,
[class*="background-color-"] .background-color-dark-blue .color-theme-child,
.background-color-medium-blue .color-theme-child,
[class*="background-color-"] .background-color-medium-blue .color-theme-child {
  --color-theme-child: var(--color-light-blue-rgb);
}
.background-color-light-blue .color-theme-child,
[class*="background-color-"] .background-color-light-blue .color-theme-child {
  --color-theme-child: var(--color-dark-blue-rgb);
}
.color-light-gray {
  color: var(--color-light-gray);
}
.color-light-gray.color-important {
  color: var(--color-light-gray) !important;
}
.background-color-light-gray {
  background-color: rgba(var(--color-light-gray-rgb), var(--color-opacity));
}
.color-medium-gray {
  color: var(--color-medium-gray);
}
.color-medium-gray.color-important {
  color: var(--color-medium-gray) !important;
}
.background-color-medium-gray {
  background-color: rgba(var(--color-medium-gray-rgb), var(--color-opacity));
}
.color-dark-gray {
  color: var(--color-dark-gray);
}
.color-dark-gray.color-important {
  color: var(--color-dark-gray) !important;
}
.background-color-dark-gray {
  background-color: rgba(var(--color-dark-gray-rgb), var(--color-opacity));
}
.background-color-dark-gray .cta-button,
[class*="background-color-"] .background-color-dark-gray .cta-button,
.background-color-medium-gray .cta-button,
[class*="background-color-"] .background-color-medium-gray .cta-button {
  --button-color: var(--color-light-gray-rgb);
}
.background-color-light-gray .cta-button,
[class*="background-color-"] .background-color-light-gray .cta-button {
  --button-color: var(--color-dark-gray-rgb);
}
.button-color-light-gray.cta-button,
[class*="background-color-"] .button-color-light-gray.cta-button {
  --button-color: var(--color-light-gray-rgb);
}
.button-color-medium-gray.cta-button,
[class*="background-color-"] .button-color-medium-gray.cta-button {
  --button-color: var(--color-medium-gray-rgb);
}
.button-color-dark-gray.cta-button,
[class*="background-color-"] .button-color-dark-gray.cta-button {
  --button-color: var(--color-dark-gray-rgb);
}
.background-color-dark-gray .color-theme-child,
[class*="background-color-"] .background-color-dark-gray .color-theme-child,
.background-color-medium-gray .color-theme-child,
[class*="background-color-"] .background-color-medium-gray .color-theme-child {
  --color-theme-child: var(--color-light-gray-rgb);
}
.background-color-light-gray .color-theme-child,
[class*="background-color-"] .background-color-light-gray .color-theme-child {
  --color-theme-child: var(--color-dark-gray-rgb);
}
.color-light-green {
  color: var(--color-light-green);
}
.color-light-green.color-important {
  color: var(--color-light-green) !important;
}
.background-color-light-green {
  background-color: rgba(var(--color-light-green-rgb), var(--color-opacity));
}
.color-medium-green {
  color: var(--color-medium-green);
}
.color-medium-green.color-important {
  color: var(--color-medium-green) !important;
}
.background-color-medium-green {
  background-color: rgba(var(--color-medium-green-rgb), var(--color-opacity));
}
.color-dark-green {
  color: var(--color-dark-green);
}
.color-dark-green.color-important {
  color: var(--color-dark-green) !important;
}
.background-color-dark-green {
  background-color: rgba(var(--color-dark-green-rgb), var(--color-opacity));
}

.width-1920 {
  max-width: 1920px;
}
.width-1400 {
  max-width: 1400px;
}
.width-1280 {
  max-width: 1280px;
}
.width-1200 {
  max-width: 1200px;
}
.width-1000 {
  max-width: 1000px;
}
.width-800 {
  max-width: 800px;
}
.width-600,
.width-content {
  max-width: 600px;
}
.width-500 {
  max-width: 500px;
}
.width-400 {
  max-width: 400px;
}

.text-uppercase {
  text-transform: uppercase !important;
}
.text-capitalize {
  text-transform: capitalize !important;
}
.text-lowercase {
  text-transform: lowercase !important;
}
.text-italic {
  font-style: italic !important;
}
.text-bold {
  font-weight: bold !important;
}
.text-normal {
  font-weight: normal !important;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.text-center {
  text-align: center !important;
}
.position-left {
  position: absolute;
  left: 0;
}
.position-top {
  position: absolute;
  top: 0;
}
.position-right {
  position: absolute;
  right: 0;
}
.position-bottom {
  position: absolute;
  bottom: 0;
}
