/*! modern-normalize v2.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*,:after,:before {
    box-sizing: border-box
}

html {
    font-family: system-ui,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    tab-size: 4
}

body {
    margin: 0
}

hr {
    height: 0;
    color: inherit
}

abbr[title] {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

b,strong {
    font-weight: bolder
}

code,kbd,pre,samp {
    font-family: ui-monospace,SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

table {
    text-indent: 0;
    border-color: inherit
}

button,input,optgroup,select,textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,select {
    text-transform: none
}

[type=button],[type=reset],[type=submit],button {
    -webkit-appearance: button
}

::-moz-focus-inner {
    border-style: none;
    padding: 0
}

:-moz-focusring {
    outline: 1px dotted ButtonText
}

:-moz-ui-invalid {
    box-shadow: none
}

legend {
    padding: 0
}

progress {
    vertical-align: baseline
}

::-webkit-inner-spin-button,::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

summary {
    display: list-item
}

.root {
    --header-height: 56px;
    --header-height-lg: 64px;
    --z-index-nav: 1;
    --z-index-drawer: 2;
    --z-index-drawer-overlay: 1;
    --z-index-drawer-footer: 1;
    --z-index-modal: 2;
    --z-index-modal-header: 1;
    --color-primary0: #e6f0ef;
    --color-primary5: #93e4db;
    --color-primary10: #67b8af;
    --color-primary25: #3c8d84;
    --color-primary50: #00665e;
    --color-primary75: #00403a;
    --color-primary75-rgb: 0 64 58;
    --color-primary100: #01201a;
    --color-secondary0: #b9f5ff;
    --color-secondary10: #8ec9db;
    --color-secondary25: #649fb1;
    --color-secondary50: #397688;
    --color-secondary75: #004f5f;
    --color-secondary100: #002c39;
    --color-neutral0: #fff;
    --color-neutral5: #eef0f0;
    --color-neutral10: #e2e4e4;
    --color-neutral20: #c5c9c9;
    --color-neutral30: #adafaf;
    --color-neutral40: #949696;
    --color-neutral50: #7d7e7e;
    --color-neutral60: #656666;
    --color-neutral70: #4f5050;
    --color-neutral80: #393a3a;
    --color-neutral90: #252525;
    --color-neutral100: #121212;
    --color-neutral0-rgb: 255 255 255;
    --color-neutral100-rgb: 18 18 18;
    --color-white-100-rgb: 255 255 255;
    --color-white-5: hsla(0,0%,100%,.05);
    --color-white-15: hsla(0,0%,100%,.15);
    --color-white-20: hsla(0,0%,100%,.2);
    --color-white-25: hsla(0,0%,100%,.25);
    --color-white-35: hsla(0,0%,100%,.35);
    --color-white-50: hsla(0,0%,100%,.5);
    --color-white-60: hsla(0,0%,100%,.6);
    --color-white-70: hsla(0,0%,100%,.7);
    --color-white-80: hsla(0,0%,100%,.8);
    --color-black-0-rgb: 0 0 0;
    --color-black-15: rgba(0,0,0,.15);
    --color-black-60: rgba(0,0,0,.6);
    --color-neutral-grey10: #1a1a1a;
    --color-complementary-beige: #efede9;
    --color-state-default-light: #fff;
    --color-state-hover-light: #e3f1f0;
    --color-state-pressed-light: #d7e9e7;
    --color-state-selected-light: hsla(180,6%,94%,.5);
    --color-state-default-dark: #00665e;
    --color-state-hover-dark: #005750;
    --color-state-pressed-dark: #004944;
    --color-state-selected-dark: rgba(0,82,75,.75);
    --color-state-error-light: #d60000;
    --color-state-error-dark: #ff6363;
    --color-state-error-bg: rgba(41,31,31,.8);
    --color-warning-dark: #ffb040;
    --effect-light-shadow-m: 0px 0px 0px 1px rgb(var(--color-neutral100-rgb)/5%),0px -0.5px 0px 0px rgb(var(--color-neutral100-rgb)/7%) inset,0px 1px 3px 0px rgb(var(--color-neutral100-rgb)/10%);
    --effect-blur-light: blur(6px);
    --effect-dark-light: 0 1px 0.5px 0 rgb(var(--color-white-100-rgb)/12%) inset,0 -1px 0 0 rgb(var(--color-neutral100-rgb)/8%) inset,0 1px 3px 0 rgb(var(--color-neutral100-rgb)/20%);
    --effect-blur-dark: blur(35px);
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --h1-desktop: var(--font-weight-regular) 54px/70px var(--font-family-aston-martin-flare);
    --h1-mobile: var(--font-weight-regular) 36px/45px var(--font-family-aston-martin-flare);
    --h2-desktop: var(--font-weight-regular) 48px/60px var(--font-family-aston-martin-flare);
    --h2-mobile: var(--font-weight-regular) 30px/40px var(--font-family-aston-martin-flare);
    --h3-desktop: var(--font-weight-regular) 32px/40px var(--font-family-aston-martin-flare);
    --h3-mobile: var(--font-weight-regular) 26px/36px var(--font-family-aston-martin-flare);
    --h4-regular: var(--font-weight-regular) 24px/32px var(--font-family-aston-martin-sans);
    --h4-bold: var(--font-weight-medium) 24px/32px var(--font-family-aston-martin-sans);
    --h5-regular: var(--font-weight-regular) 20px/24px var(--font-family-aston-martin-sans);
    --h5-bold: var(--font-weight-medium) 20px/24px var(--font-family-aston-martin-sans);
    --eyebrow-desktop: var(--font-weight-regular) 18px/24px var(--font-family-aston-martin-flare);
    --eyebrow-mobile: var(--font-weight-regular) 14px/20px var(--font-family-aston-martin-flare);
    --quote-desktop-normal: var(--font-weight-light) 44px/58px var(--font-family-aston-martin-sans);
    --quote-desktop-medium: var(--font-weight-medium) 44px/58px var(--font-family-aston-martin-sans);
    --quote-mobile-normal: var(--font-weight-light) 24px/32px var(--font-family-aston-martin-sans);
    --quote-mobile-medium: var(--font-weight-medium) 24px/32px var(--font-family-aston-martin-sans);
    --paragraph-regular: var(--font-weight-regular) 18px/30px var(--font-family-aston-martin-sans);
    --paragraph-bold: var(--font-weight-bold) 18px/30px var(--font-family-aston-martin-sans);
    --body-large-regular: var(--font-weight-regular) 18px/30px var(--font-family-aston-martin-sans);
    --body-large-bold: var(--font-weight-bold) 18px/30px var(--font-family-aston-martin-sans);
    --body-medium-regular: var(--font-weight-regular) 16px/24px var(--font-family-aston-martin-sans);
    --body-medium-bold: var(--font-weight-medium) 16px/24px var(--font-family-aston-martin-sans);
    --body-small-regular: var(--font-weight-regular) 14px/20px var(--font-family-aston-martin-sans);
    --body-small-bold: var(--font-weight-bold) 14px/20px var(--font-family-aston-martin-sans);
    --caption-regular: var(--font-weight-regular) 14px/20px var(--font-family-aston-martin-sans);
    --caption-bold: var(--font-weight-bold) 14px/20px var(--font-family-aston-martin-sans);
    --color-state-default: var(--color-state-default-light);
    --color-state-hover: var(--color-state-hover-light);
    --color-state-pressed: var(--color-state-pressed-light);
    --color-state-selected: var(--color-state-selected-light);
    --color-state-error: var(--color-state-error-light);
    --ease-in-out: cubic-bezier(0.65,0,0.35,1)
}

.root .Dark {
    --color-state-default: var(--color-state-default-dark);
    --color-state-hover: var(--color-state-hover-dark);
    --color-state-pressed: var(--color-state-pressed-dark);
    --color-state-selected: var(--color-state-selected-dark);
    --color-state-error: var(--color-state-error-dark)
}

h1,h2,h3,h4,h5,h6 {
    margin-top: 0
}

p {
    font: var(--paragraph-regular)
}

h1 {
    font: var(--h1-mobile)
}

@media(min-width: 1024px) {
    h1 {
        font:var(--h1-desktop)
    }
}

h2 {
    font: var(--h2-mobile)
}

@media(min-width: 1024px) {
    h2 {
        font:var(--h2-desktop)
    }
}

h3 {
    font: var(--h3-mobile)
}

@media(min-width: 1024px) {
    h3 {
        font:var(--h3-desktop)
    }
}

h4 {
    font: var(--h4-mobile)
}

@media(min-width: 1024px) {
    h4 {
        font:var(--h4-desktop)
    }
}

h5,h6 {
    font: var(--h5-regular)
}

* {
    font-family: var(--font-family-aston-martin-sans)
}

#root-portal {
    position: relative;
    z-index: 999999999999
}

@font-face {
    font-family: __AstonMartinSans_83fb53;
    src: url(/_next/static/media/08e0f2eeb571449a-s.p.woff2) format("woff2");
    font-display: swap;
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: __AstonMartinSans_83fb53;
    src: url(/_next/static/media/76ee1bab86912ca6-s.p.woff2) format("woff2");
    font-display: swap;
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: __AstonMartinSans_83fb53;
    src: url(/_next/static/media/565e8b288ad75fbd-s.p.woff2) format("woff2");
    font-display: swap;
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: __AstonMartinSans_Fallback_83fb53;
    src: local("Arial");
    ascent-override:98.12%;descent-override:30.34%;line-gap-override:0.00%;size-adjust:105.48%}

.__className_83fb53 {
    font-family: __AstonMartinSans_83fb53,__AstonMartinSans_Fallback_83fb53
}

.__variable_83fb53 {
    --font-family-aston-martin-sans: "__AstonMartinSans_83fb53","__AstonMartinSans_Fallback_83fb53"
}

@font-face {
    font-family: __AstonMartinFlare_bf2aa2;
    src: url(/_next/static/media/62d1da0b4d82f59d-s.p.woff2) format("woff2");
    font-display: swap;
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: __AstonMartinFlare_bf2aa2;
    src: url(/_next/static/media/ba4c59ce06445c0b-s.p.woff2) format("woff2");
    font-display: swap;
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: __AstonMartinFlare_Fallback_bf2aa2;
    src: local("Arial");
    ascent-override:100.09%;descent-override:31.61%;line-gap-override:0.00%;size-adjust:104.41%}

.__className_bf2aa2 {
    font-family: __AstonMartinFlare_bf2aa2,__AstonMartinFlare_Fallback_bf2aa2
}

.__variable_bf2aa2 {
    --font-family-aston-martin-flare: "__AstonMartinFlare_bf2aa2","__AstonMartinFlare_Fallback_bf2aa2"
}
