@keyframes globalOnce__breakpoints_fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes globalOnce__breakpoints_fade-in-delay {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes Flux_AnimationMultilines_fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes Flux_AnimationMultilines_fade-in-delay {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.Flux_AnimationMultilines {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
  z-index: 10;
  position: relative;
  color: #d6d6d6;
  margin-top: 2.5rem;
}
.Flux_AnimationMultilines:not(:first-child) {
  margin-top: 1.875rem;
}
@media (min-width: 768px) {
  .Flux_AnimationMultilines:not(:first-child) {
    margin-top: 1.406rem;
  }
}
.Flux_AnimationMultilines a,
.Flux_AnimationMultilines strong {
  color: #000;
}
.Flux_AnimationMultilines a:hover {
  filter: drop-shadow(1px 1px 1px #ccc);
}
.Flux_AnimationMultilines_fullscreen {
  min-height: calc(100svh - var(--sticky-header-height-mobile));
  background-color: #fff;
}
.Flux_AnimationMultilines_relative {
  position: relative !important;
}
.Flux_AnimationMultilines_container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-count: 12;
  column-gap: 16px;
}
.Flux_AnimationMultilines_container,
.Flux_AnimationMultilines_static {
  width: calc(100% - 60px);
  max-width: var(--width-large);
  margin: 0 auto;
  overflow: hidden;
  opacity: 0;
}
@media (min-width: 1024px) {
  .Flux_AnimationMultilines_container,
  .Flux_AnimationMultilines_static {
    max-width: var(--width-large);
  }
}
.Flux_AnimationMultilines_container a,
.Flux_AnimationMultilines_container span,
.Flux_AnimationMultilines_container strong,
.Flux_AnimationMultilines_static a,
.Flux_AnimationMultilines_static span,
.Flux_AnimationMultilines_static strong {
  display: inline-block;
  text-transform: uppercase;
  transition:
    opacity 0.1s var(--transitiondelay),
    transform 0.5s var(--transitiondelay),
    background-color 0.3s,
    color 0.3s ease 0s;
}
.Flux_AnimationMultilines_container a,
.Flux_AnimationMultilines_container strong,
.Flux_AnimationMultilines_static a,
.Flux_AnimationMultilines_static strong {
  font-weight: 450;
  position: relative;
}
.Flux_AnimationMultilines_static {
  text-transform: uppercase;
  opacity: 1;
}
.Flux_AnimationMultilines_line {
  grid-column: 1/-1;
  font-size: 9vw;
  line-height: 1em;
}
.Flux_AnimationMultilines_scrollCta {
  color: #000;
  position: absolute;
  bottom: 20px;
  transform: translateX(-50%);
  left: 50%;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: opacity 1s ease;
}
.Flux_AnimationMultilines_scrollCta svg {
  margin-top: 5px;
  display: block;
}
.Flux_AnimationMultilines_scrollCta.Flux_AnimationMultilines_show {
  opacity: 1;
}
.Flux_AnimationMultilines_scrollCta.Flux_AnimationMultilines_black {
  background-color: #0000;
  color: #fff;
}
.Flux_AnimationMultilines_scrollCta.Flux_AnimationMultilines_black svg {
  fill: #fff;
}
.Flux_AnimationMultilines_tags {
  width: calc(100% - 60px);
  margin: 30px auto auto;
}
@media (min-width: 1024px) {
  .Flux_AnimationMultilines_tags {
    max-width: var(--width-large);
  }
}
.Flux_AnimationMultilines_black {
  background-color: #1a1a1a;
}
.Flux_AnimationMultilines_black a span,
.Flux_AnimationMultilines_black strong span {
  color: #fff;
}
.Flux_AnimationMultilines_black-coal {
  background-color: #222;
}
.Flux_AnimationMultilines_white {
  background-color: #f6f6f6;
}
.Flux_AnimationMultilines_smoke-white {
  background-color: #e5e5e5;
}
:root[data-thememode="dark"] .Flux_AnimationMultilines {
  color: #4c4c4c;
}
:root[data-thememode="dark"] .Flux_AnimationMultilines a,
:root[data-thememode="dark"] .Flux_AnimationMultilines strong {
  color: #fff;
}
:root[data-thememode="dark"] .Flux_AnimationMultilines a:hover {
  filter: drop-shadow(1px 1px 3px #999);
}
:root[data-thememode="dark"] .Flux_AnimationMultilines_fullscreen {
  color: #d6d6d6;
}
:root[data-thememode="dark"] .Flux_AnimationMultilines_fullscreen a,
:root[data-thememode="dark"] .Flux_AnimationMultilines_fullscreen strong {
  color: #000;
}
@media (min-width: 768px) {
  .Flux_AnimationMultilines {
    margin-top: 5rem;
  }
  .Flux_AnimationMultilines_fullscreen {
    min-height: calc(100svh - var(--sticky-header-height-phablet));
  }
  .Flux_AnimationMultilines_line {
    font-size: 3.875rem;
    line-height: 1.048;
  }
}
